<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <th:block th:utext="${standart_header}">

    </th:block>


    <script th:if="${user!=null && user.getTypeUser()>0}" src="../../../js/admin.js"></script>

    <title>Справочник</title>
</head>
<body>

<th:block th:utext="${header}">

</th:block>


<div id="mainController">

    <th:block th:utext="${left_panel}">

    </th:block>

    <div id="container">


        <div class="flex-center">
            <a class="create"></a>
        </div>


        <div class="flex-center" style="font-size: 20pt;margin-top: 10px">
            Справочник по проекту "Информатик"
        </div>


        <div class="main-elements">

            <th:block th:each="el : ${list}">
                <div>
                    <div class="main-header" th:id="@{'theory_'+${el.getId()}}" style="justify-content: space-between; padding: 10px" onclick="showTheory(this)">
                        <a style="font-size: 15pt;font-weight: bold;" th:text="${el.getName()}"></a>

                        <div class="admin_panel" style="width: 90px; position: inherit;  margin-top: 0px;  " th:if="${user!=null && user.getTypeUser()>0}">

                            <div onclick="deleteTheory(this)" class="button-window">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <g id="close">
                                        <path id="x"
                                              d="M18.717 6.697l-1.414-1.414-5.303 5.303-5.303-5.303-1.414 1.414 5.303 5.303-5.303 5.303 1.414 1.414 5.303-5.303 5.303 5.303 1.414-1.414-5.303-5.303z"></path>
                                    </g>
                                </svg>
                            </div>

                            <div style="background-color: #7bfd50;" class="button-window" onclick="editTheory(this)">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     version="1.1"
                                     id="Capa_1" x="0px" y="0px" viewBox="0 0 277.141 277.141"
                                     style="enable-background:new 0 0 277.141 277.141;" xml:space="preserve">
<path d="M274.804,58.127L219.013,2.335C217.507,0.829,215.498,0,213.356,0c-2.143,0-4.151,0.829-5.656,2.335L28.281,181.754  c-2.834,2.834-5.996,8.283-7.05,12.147l-20.95,76.817c-0.521,1.912-0.308,3.621,0.602,4.813c0.792,1.038,2.061,1.609,3.572,1.609  c0.619,0,1.28-0.095,1.964-0.281l76.818-20.951c3.865-1.054,9.314-4.216,12.147-7.049L274.804,69.44  c1.506-1.506,2.335-3.515,2.335-5.657C277.139,61.641,276.31,59.632,274.804,58.127z M65.155,235.776l-3.702,3.702  c-1.167,1.167-3.424,2.477-5.016,2.911l-26.926,7.343c-1.592,0.434-2.539-0.513-2.105-2.105l7.343-26.926  c0.434-1.592,1.744-3.849,2.911-5.016l3.702-3.702c1.167-1.167,3.076-1.167,4.243,0l19.549,19.549  C66.322,232.7,66.322,234.61,65.155,235.776z M221.367,76.985L109.119,189.233c-2.929,2.929-6.768,4.394-10.606,4.394  s-7.678-1.465-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213L200.154,55.772c5.857-5.857,15.355-5.857,21.213,0  C227.225,61.63,227.225,71.128,221.367,76.985z"/>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
                                    <g>
</g>
</svg>
                            </div>
                        </div>



                        <div class="admin_panel" style="width: 90px; position: inherit;  margin-top: 0px;  " th:unless="${user!=null && user.getTypeUser()>0}">
                            <a target="_blank" th:href="@{'/directory?id='+${el.getId()}}" style="background-color: #fdc850;"
                               class="button-window">
                                <img style="height: 55%;" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/95-512.png">
                            </a>
                        </div>



                    </div>
                    <div style="display: none" class="main-header add-to" >
                        <a style="font-size: 15pt;" th:utext="${el.getDescriptionGene()}"></a>

                    </div>
                </div>
            </th:block>


        </div>



    </div>
</div>

<script>
    var elements = document.getElementsByTagName("textarea")
    for(var i = 0;i<elements.length;i++){

        var key = elements[i];
        key.value = key.value.replaceAll("<div class=\"new-wrap\"></div>","\n");

    }
</script>
</body>
</html>