<th:block th:each="el : ${list}">
    <div th:id="@{'taskModel_'+${el.id}}" class="taskMoel">

        <div class="admin_panel">

            <div onclick="deleteTask(this)" class="button-window">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g id="close">
                        <path id="x"
                              d="M18.717 6.697l-1.414-1.414-5.303 5.303-5.303-5.303-1.414 1.414 5.303 5.303-5.303 5.303 1.414 1.414 5.303-5.303 5.303 5.303 1.414-1.414-5.303-5.303z"></path>
                    </g>
                </svg>
            </div>
            <div onclick="hideElement(this)" style="background-color: #fdc850;" class="button-window">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Capa_1" x="0px" y="0px" width="485.064px" height="485.064px" viewBox="0 0 485.064 485.064"
                     style="enable-background:new 0 0 485.064 485.064;" xml:space="preserve">
<g>
	<g>
		<path d="M458.736,181.097H26.334C11.793,181.097,0,192.884,0,207.425v70.215c0,14.541,11.787,26.328,26.334,26.328h432.402    c14.541,0,26.328-11.787,26.328-26.328v-70.215C485.07,192.884,473.283,181.097,458.736,181.097z"/>
	</g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
</svg>
            </div>

            <div style="background-color: #7bfd50;" class="button-window" onclick="openEditTask(this)">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Capa_1" x="0px" y="0px" viewBox="0 0 277.141 277.141"
                     style="enable-background:new 0 0 277.141 277.141;" xml:space="preserve">
<path d="M274.804,58.127L219.013,2.335C217.507,0.829,215.498,0,213.356,0c-2.143,0-4.151,0.829-5.656,2.335L28.281,181.754  c-2.834,2.834-5.996,8.283-7.05,12.147l-20.95,76.817c-0.521,1.912-0.308,3.621,0.602,4.813c0.792,1.038,2.061,1.609,3.572,1.609  c0.619,0,1.28-0.095,1.964-0.281l76.818-20.951c3.865-1.054,9.314-4.216,12.147-7.049L274.804,69.44  c1.506-1.506,2.335-3.515,2.335-5.657C277.139,61.641,276.31,59.632,274.804,58.127z M65.155,235.776l-3.702,3.702  c-1.167,1.167-3.424,2.477-5.016,2.911l-26.926,7.343c-1.592,0.434-2.539-0.513-2.105-2.105l7.343-26.926  c0.434-1.592,1.744-3.849,2.911-5.016l3.702-3.702c1.167-1.167,3.076-1.167,4.243,0l19.549,19.549  C66.322,232.7,66.322,234.61,65.155,235.776z M221.367,76.985L109.119,189.233c-2.929,2.929-6.768,4.394-10.606,4.394  s-7.678-1.465-10.606-4.394c-5.858-5.857-5.858-15.355,0-21.213L200.154,55.772c5.857-5.857,15.355-5.857,21.213,0  C227.225,61.63,227.225,71.128,221.367,76.985z"/>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
                    <g>
</g>
</svg>
            </div>
        </div>


        <div style="" class="prob_nums">Тип [[${el.type}]]&nbsp;№&nbsp;<a th:href="@{'/task?id=' + ${el.id}}">[[${el.id}]]</a>
            <img
                    src="image/system/portfel.png" class="briefcase" style="filter: grayscale(0.8);"
                    onclick="login_popup();"
            ></div>
        <div th:utext="${el.texts}" class="task" id="task" width="100%">

        </div>

        <!--
                <div class="panel-runner">
                    <div class="element" onclick=" runCode()">

        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
             class="style-scope yt-icon"
             style="pointer-events: none; display: block; width: 100%; height: 100%;">
            <g mirror-in-rtl="" class="style-scope yt-icon">
                <path d="M9.4,18.4l-0.7-0.7l5.6-5.6L8.6,6.4l0.7-0.7l6.4,6.4L9.4,18.4z"
                      class="style-scope yt-icon" fill="#84BD00"></path>
            </g>
        </svg>
    </div>
    </div>
    -->
        <!--
                    <div class="code_edit">
                        <div class="element_main">
                            <textarea th:id="@{'code_'+${el.id}}">#you are welcome here</textarea>

                        </div>
                        <div class="element">
                            <div class="panel" id="buttons-hbox">

                            </div>
                        </div>
                    </div>

                    <div class="header-input-data">


                        <div class="input-data" style="width: 100%" width="100%">
                            <div class="text">Output data:</div>
                            <textarea id="output_data_textarea"></textarea>
                        </div>


                    </div>
                    -->
        <div class="decided" th:id="@{'decided_text_'+${el.id}}" th:onclick="@{'showDecidedById('+${el.id}+')'}">
            Показать решение
        </div>

        <div style="height: 17pt;"></div>


        <div class="decided_info" th:id="@{'decided_info_'+${el.id} }" style="display: none">

            <th:block th:utext="${el.getDecidedSolution()}">

            </th:block>
            <div class="flex-left" style="margin-top: 10px"> <a>Ответ: [[${el.getOutput_data_json()}]]</a></div>

        </div>
        <div style="height: 15pt;"></div>

    </div>
    <script>
        var editor_[[${el.id}]] = CodeMirror.fromTextArea(document.getElementById("code_[[${el.id}]]"), {
            lineNumbers: true,
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
            matchBrackets: true,
            indentUnit: 4,
            styleActiveSelected: true,// подсвечивать парные скобки
            theme: "darcula"
        });
    </script>
</th:block>